.form {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .actions {
        padding: 16px 24px;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }
}

