.cell {
	min-height: 40px;
	width: calc((100% - var(--ruler-width)) / 8);
	// min-width: calc((100% - var(--ruler-width)) / 8);
	// max-width: calc((100% - var(--ruler-width)) / 8);

	min-width: 80px;
	max-width: 120px;
	
	padding: 0;
	border: 1px solid #e6e9ee;
	cursor: pointer;
	user-select: none;
	transition: filter 0.2s ease;
	position: relative;

	&:hover {
		filter: brightness(0.95);

		.dot {
			transform: translate(-50%, -50%) scale(1.2);
		}
	}

	.dot {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}
	
}