.wrapper {
	display: flex;
	flex: 1;
	min-height: 0;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #dfe3ea;
	background-color: #ffffff;
	overflow: hidden;
}

.tableContainer {
	flex: 1;
	width: 100%;
	--ruler-width: 80px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}