.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;
}

.headerWrapper {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #ffffff;
}

.content {
	flex: 1;
	display: flex;
	margin-top: 16px;
}