.list {
	display: flex;
	flex-direction: column;
}

.item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0;
	margin-bottom: 32px;
	padding-right: 48px;
}

.actions {
	position: absolute;
	top: 12px;
	right: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 0;
}

