.wrapper {
	display: flex;
	flex: 1;
	min-height: 0;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #dfe3ea;
	background-color: #ffffff;
	overflow: hidden;
}

.tableContainer {
	flex: 1;
	width: 100%;
	--ruler-width: 80px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.rulerColumn {
	width: var(--ruler-width);
	min-width: var(--ruler-width);
	max-width: var(--ruler-width);
}

.trackColumn {
	width: calc((100% - var(--ruler-width)) / 8);
	min-width: calc((100% - var(--ruler-width)) / 8);
	max-width: calc((100% - var(--ruler-width)) / 8);
}

.headerRow :global(.MuiTableCell-root) {
	padding: 0;
}

.rulerHeader,
.trackHeader,
.rulerCell,
.trackCell,
.trackCellAlt {
	min-height: 96px;
	border-bottom: 1px solid #e6e9ee;
}

.rulerHeader,
.rulerCell {
	width: var(--ruler-width);
	min-width: var(--ruler-width);
	max-width: var(--ruler-width);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 16px 16px;
	border-right: 1px solid #cdd3dd;
	background-color: #f7f8fa;
}

.rulerCellAlt {
	background-color: #ffffff;
}

.rulerCellLast,
.trackCellLast {
	border-bottom: none;
}

.trackHeader,
.trackCell,
.trackCellAlt {
	width: calc((100% - var(--ruler-width)) / 8);
	min-width: calc((100% - var(--ruler-width)) / 8);
	max-width: calc((100% - var(--ruler-width)) / 8);
	position: relative;
	display: flex;
	align-items: center;
	padding: 16px 16px;
	background-color: #f7f8fa;
}

.trackCellAlt {
	background-color: #ffffff;
}

.trackHeader {
	justify-content: center;
	border-right: 1px solid #e6e9ee;
}

.trackCell {
	border-right: 1px solid #e6e9ee;
}

.trackCell:last-child,
.trackHeader:last-child {
	border-right: none;
}

