.container {
  margin-top: 32px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin: 0;
  }
}
