.row {
	&:nth-of-type(even) {

		.rulerCell,
		:global(.noteCell) {
			background-color: #ffffff;
		}
	}

	&:nth-of-type(odd) {

		.rulerCell,
		:global(.noteCell) {
			background-color: #f7f8fa;
		}
	}
}

.rulerCell {
	min-height: 96px;
	border: 1px solid #e6e9ee;
}

.rulerCell {
	width: var(--ruler-width);
	min-width: var(--ruler-width);
	max-width: var(--ruler-width);
	padding: 16px 16px;
	border-color: #e6e9ee #cdd3dd #e6e9ee #e6e9ee;
}