.content {
    padding-top: 8px;
}

.stack {
    padding-top: 8px;
    gap: 8px;
}

.actions {
    padding-left: 12px; 
    padding-right: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
